<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

List stuff: <br/><br/>
{{#each events.results}}
  <h2>{{this.name}}</h2>
  <h3>{{dateFormat this.time "MM-DD-YYYY - hh:mm A"}}</h3>
  {{{this.description}}}
{{else}}
  <p class="empty">No content</p>
{{/each}}
  <a href="archive.hbs">Archive</a>
